
@{
    ViewData["Title"] = "SignUp";
}

@model SignUpVM
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Kullanıcı Kayıt Formu</h2>

            @if (TempData["Message"] != null)
            {
                <div class="alert alert-info" role="alert">
                    @TempData["Message"]
                </div>
            }



            <form asp-controller="Home" asp-action="SignUp">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="UserName" class="form-label"></label>
                    <input type="text" asp-for="UserName" class="form-control">
                    <span asp-validation-for="UserName" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input type="email" asp-for="Email" class="form-control">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="PhoneNumber" class="form-label"></label>
                    <input type="tel" asp-for="PhoneNumber" class="form-control">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label"></label>
                    <input type="password" asp-for="Password" class="form-control">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="PasswordConfirm" class="form-label"></label>
                    <input type="password" asp-for="PasswordConfirm" class="form-control">
                    <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary col-md-12">Kaydet</button>
            </form>

        </div>
    </div>